#header-wrapper {
    position: sticky;
    top: 0;
    z-index: 2998;
}
#header {
    box-shadow: 0px 4px 24px 0px rgba(0,0,0,0.04);
    background-color: rgba(255,255,255,0.95);
    
}
#header .masuk, #header .daftar {
    width: 104px;
}
#header .horizontal-nav, 
#header .account,
#header .button-group {
    display: none;
}
#header .logo img {
    width: 150px;
}
#right-menu {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2999;
}
#right-menu .menu-button {
    text-align: right;
}
#right-menu .menu-button button {
    border: 2px solid #42B649;
}
#right-menu .daftar {
    background-color: #42B649;
}
#right-menu .alas-menu {
    min-width: 300px;
    height: 100%;
    padding: 0 15px;
    background-color: #ffffff;
    float: right;
}
#right-menu .login-option {
    display: block;
}
#right-menu .d-flex {
    height: 56px;
    border-bottom: 2px solid #42B649;
}
#right-menu button {
    border: 2px solid #42B649;
}
#right-menu .menu-group-button {
    margin: auto;
}
#right-menu nav {
    margin-top: 80px;
}
#right-menu a {
    color: #242424;
}
#right-menu li {
    text-align: right;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
#right-menu img {
    width: 28px;
    margin-left: 15px;
}


@media (min-width: 992px) {
    #right-menu, #header .menu-button {
        display: none;
    }
    #header .button-group, #header .horizontal-nav {
        display: block;
    }
    #header {
        padding: 0.8vw 7.778vw;
    }
    #header .logo img {
        width: 154px;
    }
    #header .horizontal-nav {
        padding: 0;
        text-align: right;
    }
    #header .horizontal-nav nav {
        margin-top: 15px;
    }
    #header .horizontal-nav li {
        display: inline;
        margin-left: 20px;
        font-weight: 400;
    }
    #header .horizontal-nav a {
        color: #242424;
    }
    #header .button-group {
        margin-left: 20px;
    }
    #header .button-group button {
        border: 2px solid #42B649;
    }
}
@media (min-width: 1200px) {
    #header .horizontal-nav li {
        margin-left: 3.889vw;
    }
    #header .button-group {
        margin-left: 5vw;
    }
}