footer {
    background-color: #151B26;
    color: #ffffff;
    font-weight: normal;
}
footer .container {
    padding: 96px 72px;
}
footer .col {
    padding: 0;
}
footer strong, footer h3 {
    font-weight: 500;
}
footer h3 {
    font-size: 16px;
    padding: 20px 0;
    margin: 0;
}
footer .nav-link {
    padding: 8px 0;
}